/* Styles pour la vidéo */

.palmer-video {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.palmer-video-container {
    position: relative;
    text-align: center;
}

/* Styles pour les boutons sur la vidéo */

.button-video {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.shop-now-button {
    height: 50px;
    width: 130px;
   background-color: #0052CC;
   color: white;
   border: none;
   font-family: 'Aggrandir';
   font-size: 17px;
   cursor: pointer;
   border-radius: 25px;
   margin-right: 10px;
   transition: all 0.3s ease;
}

.shop-now-button:hover {
    opacity: 0.8;
}

.learn-more-button {
    height: 50px;
    width: 130px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-family: 'Aggrandir';
    font-size: 17px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.learn-more-button:hover {
    background-color: white;
    color: black;
}

.new-in-text {
    font-family: 'Arial Black';
    font-weight: 900;
    font-size: 25px;
    margin-left: 20px;
    letter-spacing: 1px;
    color: #000000;
}

/* Styles pour les nouveaux produits */

.product-grid{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.product-grid::-webkit-scrollbar {
    height: 2px;
    background-color: #000000;
}

.product-image{
    width: 300px;
    height: 400px;
    object-fit: cover;
    padding-bottom: 0px;
    cursor: pointer;
}

.product-price{
    margin: 10px 0 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Agrandir';
}

.product-name{
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Agrandir';
}

.product-image:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Styles pour la bannière */

.banner-images {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.banner {
    width: 50%;
    height: 500px;
    object-fit: cover;
}

.banner-container{
    position: relative;
    cursor: pointer;
}

.banner-text-button-left {
    position:absolute;
    bottom: 5%;
    left: 1.5%;
}

.banner-text-button-right{
    position:absolute;
    bottom: 5%;
    right: 38%;
}

.banner-button{
    height: 50px;
    width: 115px;
   background-color: #0052CC;
   color: white;
   border: none;
   font-family: 'Aggrandir';
   font-size: 17px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.banner-button:hover {
    opacity: 0.8;
}

.banner-text {
    color: white;
    font-family: 'Agrandir';
    font-weight: 900;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

