.kit-detail-container{
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Styles pour la colonne de l'image (gauche) */

.kit-detail-image{
  width: 600px;
  height: auto;
  object-fit: cover;
}

/* Styles pour la colonne des détails (droite) */

.kit-detail-title{
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  font-family: 'Aggrandir';
}

.kit-detail-price{
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Aggrandir';
}

/* Styles pour les tailles */

.size-grid{
  margin-bottom: 30px;
}

.size-title{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Aggrandir';
}

.size-button-container{
  max-width: 500px;
}

.size-button{
  width: 100px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 2px solid gray;
  background-color: #fff;
  cursor: pointer;
  font-family: 'Aggrandir';
  transition: background-color 0.3s, color 0.3s;
}

.size-button:hover{
  background-color: black;
  color: white;
  opacity: 0.8;
}

/* Styles pour d'ajout au panier et logo des paiement */

.purchase-row{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-to-cart-button{
  width: 400px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Aggrandir';
  margin-bottom: 30px;
  opacity: 0.9;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.add-to-cart-button:hover{
  opacity: 0.8;
}

.payment-logos{
  display: flex;
  flex-direction: row;
}

.logo-payment{
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 40px;
}

/* Styles pour les listes déroulantes */

.list {
  max-width: 600px;
  margin: 20px 0;
}

.list-item {
  border: none;
  border-bottom: 1px solid #ddd;
}

.list-header {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Agrandir';
}

.list-header::after {
  content: '⌄';
  font-size: 24px;
  font-weight: normal;
  transition: transform 0.3s ease;
}

.list-item[open] .accordion-header::after {
  transform: rotate(180deg);
}

.list-content {
  padding: 0 0 20px 0;
  line-height: 1.6;
  color: #333;
}