.product-page-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  margin-left: 30px;
  gap: 40px;
}

.product-page-image {
  height: 500px;
  width: 400px;
  object-fit: cover;
  cursor: pointer;
}

.product-page-price {
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Agrandir';
  cursor: pointer;
}

.product-page-name{
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Agrandir';
  padding-bottom: 20px;
  cursor: pointer;
}